p {color: #89b4e7}
h1 {text-align : center;}
body {font-family: fantasy;
color: #89b4e7;
background-color:white;
background-image:url(https://www.brawlhalla.com/c/uploads/2020/09/KeyArt_EpicNix_1920x1080_WithLogo2.jpg);
